*{
  font-family: 'Nunito', sans-serif;
}
.container{
  margin-left: 0px;
  width: 100%;
}
/* .rowscale{
  margin-bottom: 0;
} */
/* .navbar-nav{
  margin: 10px;
}
.nav{
  margin-top: 10px;
  margin-left: 5px;
} */
#pills{
  margin-top: 7px;
  margin-bottom: 7px;
}
.logo{
  width: 110px;
  height: 46px;
  margin-top: 5px;
  margin-left: 5px;
}
.name{
  margin-right: 20px;
  margin-top: 11px;
}
.runner{
  width: 50%;
  height: 50%;
  margin-left: 30%;
  opacity: 0.5;
}
.brieftext{
  text-align: center;
  margin-top: 150px;
  color: white;
}
.details{
  text-align: center;
  color: white;
}
#color{
  background: linear-gradient(#4E8AE5,#7CCADA) no-repeat;
}
.register{
  display:inline-block;
  margin-left: 45%;
  margin-top: 20px;
}
.move{
  margin-left: -23px;
  margin-top: 10px;
  color: #316948;
}
.aboutitle{
text-align: center;
font-weight:700;
}
.aboutdetails{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.steps{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
}
.icon{
  width: 200px;
  height: 200px;
  margin-left: 90px;
}
.iconalign{
  margin-left: 20px;
  margin-bottom: 30px;
}
.imagedesc{
  text-align: center;
}
/* .homesection{
  height: 1000px;
  width: 900px;
} */

/*.bgsection{
   background-image: url("../images/runner.png");
   background-size: 0%;
  height: 400px;
   width: 2000px;
  background-repeat: no-repeat;
  margin-right: 20px;
  background-position: center;
  position: relative; */
